<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Header -->
<div th:replace="~{/comm/header}"></div>

<body>

<!-- Navbar -->
<div th:replace="~{/comm/navbar}"></div>

<div class="container">
    <table class="table table-sm table-bordered align-middle">
        <thead>
            <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col" style="width: 200px">썸네일</th>
                <th scope="col">제목</th>
                <th scope="col">조회수</th>
                <th></th>
            </tr>
        </thead>

        <tbody class="table-group-divider">
            <th:block th:each="post : ${posts}">
                <tr>
                    <th scope="row">#</th>
                    <td>
                        <div th:if="${post.getThumbnailURL() != null}">
                            <img class="img-thumbnail" th:src="${post.getThumbnailURL()}" alt="" width="200" height="150" />
                        </div>

                    </td>
                    <td th:text="${post.getTitle()}">제목</td>
                    <td class="text-center" th:text="${post.getTotalViews()}">0</td>
                    <td>바로가기 링크</td>
                </tr>
            </th:block>
        </tbody>
    </table>
</div>

<!-- Footer -->
<div th:replace="~{/comm/footer}"></div>
</body>
</html>